* {
    box-sizing: border-box;
}


nav {
    background-color: #f1ecda;
    height: 4em;
    width: auto;
    margin-top: -1vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


section {
    min-height: 87vh;
    background-color: #faf8f1;
    border-radius: 0.5em;
    margin-top: 0.2em;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
}

p, h1, h2, h3, h4, h5, label, input{
    text-align: center;
    color: #0a0903;
}

.welcome {
    margin: 0 auto;
}

.calculate, .input-hasil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide,hr {
    display: none;
}

.biru {
    background-color: rgb(112, 236, 255);
}

img {
    width: 15em;
    height: 15em;
    margin-bottom: 2em;
}

input {
    height: 2em;
    width: 16em;
    border-radius: 0.8em;
    font-weight: bold;
}

button {
    margin: 0.2em;
    border-radius: 0.5em;
}

.calculate {
    border: 0.5em solid #a0cd70;
    padding: 0 4em 2em 4em;
    border-radius: 0.8em;
}

#div-toggle {
    display: flex;
    width: 10em;
    height: 2em;
    justify-content: center;
    
}

#div-toggle > button {
    margin: 0 0 1em 0;
    width: 5em;
}

#toggleLuas {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#toggleKeliling {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0   ;
}
